body {
    margin 20px;
}
h1 {
    font-family: monospace;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
tt {
    font-size: 1rem;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
}

#piano-keys {
    display: flex;
}

.white-key {
    border-style: solid;
    height: 4em;
    width: 2em;
}

#midi-data {
  position:relative; overflow:scroll;
  height: 300px;
  background:transparentize(white,0.1);
    border:10px solid transparentize($purple,0.3);
  ul {
    position:absolute; left:0px; bottom:0px;
    padding:1em;
    li {
      padding:0.2em 0.2em 0.2em 1em;
      font-size:1.6em;
      font-family: monospace;
        color:$purple;
        animation:flash 0.5s;
        &:before {content:"> "; margin-left:-1em;}
      }
    }
  }
